@model OTASystem.Data.OTARecord

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OTARecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComputed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComputed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
